* {
    font-family: Orbitron ;
    background-color: #121212;
    color: antiquewhite;
}

h2 {
    font-family: Orbitron ;
    color: white;
    font-size: larger;
}

.focim {
    margin-top: 10px;    
    margin-bottom: 10px;
    color: purple;
}

.film-box {
    background-color:#1e1e1e;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 2px white;
}

.btn {
    background-color: purple;
}

.img-fluid {
    size-adjust: 100%;
    border-radius: 15px;
    
}